.u-block-21de-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 548px);
  top: auto;
  right: auto;
  bottom: 6px;
}

.u-block-21de-3 {
  position: absolute;
  left: 0;
}

.u-block-21de-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-21de-5 {
    left: calc(((100% - 940px) / 2)  + 448px);
  }
}

@media (max-width: 991px) {
  .u-block-21de-5 {
    left: calc(((100% - 720px) / 2)  + 338px);
  }
}

@media (max-width: 767px) {
  .u-block-21de-5 {
    left: calc(((100% - 540px) / 2)  + 248px);
  }
}

@media (max-width: 575px) {
  .u-block-21de-5 {
    left: calc(((100% - 340px) / 2)  + 148px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/elevator-1598431_1920.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 80px auto 0 11px;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 46px 652px 0 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 218px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 452px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 346px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 19px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 298px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  margin: 30px 0 0 13px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.5s;
  margin: 30px 0 0 13px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  transition-duration: 0.5s;
  margin: 30px 0 0 13px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  transition-duration: 0.5s;
  margin: 30px 0 0 13px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 17px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  transition-duration: 0.5s;
  margin: 30px 0 0 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 334px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 628px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1060px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-5 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-5 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-3 {
  min-height: 66px;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 654px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 388px;
  width: 288px;
  margin: 80px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 341px;
  height: 388px;
  margin: -388px auto 0 -46px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -11px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }

  .u-section-3 .u-image-1 {
    height: 389px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -389px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-3 .u-image-1 {
    height: 432px;
    width: 320px;
  }
} .u-section-4 {
  min-height: 66px;
}

.u-section-4 .u-sheet-1 {
  min-height: 654px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 0;
}

.u-section-4 .u-image-1 {
  width: 387px;
  height: 387px;
  margin: 114px auto 0 -49px;
}

.u-section-4 .u-image-2 {
  width: 265px;
  height: 344px;
  margin: -369px 20px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -9px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 592px;
  }

  .u-section-4 .u-image-1 {
    width: 328px;
    height: 328px;
    margin-top: 151px;
    margin-left: -40px;
  }

  .u-section-4 .u-image-2 {
    width: 229px;
    height: 298px;
    margin-top: -313px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-4 .u-image-2 {
    height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 680px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 428px;
  }
} .u-section-5 {
  min-height: 66px;
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-5 .u-container-layout-2 {
  padding: 3px 0;
}

.u-section-5 .u-image-1 {
  width: 373px;
  height: 373px;
  margin: 122px auto 0 -30px;
}

.u-section-5 .u-image-2 {
  width: 225px;
  height: 373px;
  margin: -373px 13px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }

  .u-section-5 .u-image-1 {
    width: 321px;
    height: 321px;
    margin-top: 148px;
    margin-left: -44px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -347px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }
} .u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 220px;
  height: 277px;
  margin: 188px auto 0;
}

.u-section-6 .u-image-2 {
  width: 204px;
  height: 330px;
  margin: -304px auto 0 -27px;
}

.u-section-6 .u-image-3 {
  width: 178px;
  height: 304px;
  margin: -317px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }

  .u-section-6 .u-image-1 {
    height: 278px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 390px;
  }
} .u-section-7 {
  min-height: 318px;
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 654px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 285px;
  height: 228px;
  margin: 195px 0 0 auto;
}

.u-section-7 .u-image-2 {
  width: 285px;
  height: 285px;
  margin: -256px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 203px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 743px;
  }

  .u-section-7 .u-image-1 {
    width: 331px;
    height: 243px;
    margin-top: 64px;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: 53px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 854px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -244px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -164px;
  }
} .u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 654px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-8 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 285px;
  height: 243px;
  margin: 121px auto 0 120px;
}

.u-section-8 .u-image-2 {
  width: 386px;
  height: 184px;
  margin: 11px auto 0 79px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 558px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 46px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    height: 183px;
    margin-top: 37px;
    margin-right: 35px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 75px;
  }

  .u-section-8 .u-image-2 {
    width: 360px;
    height: 171px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 641px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 55px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 162px;
  }
} .u-section-9 {
  min-height: 318px;
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 654px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  margin: 34px 60px 0;
}

.u-section-9 .u-text-2 {
  margin: 87px 24px 0 239px;
}

.u-section-9 .u-image-1 {
  width: 250px;
  height: 150px;
  margin: -94px auto 0 19px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 690px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 39px 361px 0 47px;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -26px 72px 0 auto;
}

.u-section-9 .u-image-2 {
  width: 243px;
  height: 224px;
  margin: 0 34px 0 auto;
}

.u-section-9 .u-image-3 {
  width: 215px;
  height: 186px;
  margin: -209px auto 0 10px;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 128px auto 0 47px;
}

.u-section-9 .u-image-4 {
  width: 218px;
  height: 218px;
  margin: 0 auto 0 19px;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -240px 65px 0 auto;
}

.u-section-9 .u-image-5 {
  width: 234px;
  height: 234px;
  margin: 6px 34px 0 auto;
}

.u-section-9 .u-text-7 {
  margin: -6px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 980px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 914px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 347px;
    margin-right: 85px;
    margin-left: 98px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -516px;
    margin-left: auto;
    margin-bottom: 366px;
  }

  .u-section-9 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 913px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 40px;
    margin-right: 281px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 11px;
    margin-right: 1px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -200px;
    margin-left: 11px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 159px;
  }

  .u-section-9 .u-image-4 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: -264px;
    margin-right: 43px;
  }

  .u-section-9 .u-image-5 {
    margin-top: 10px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 174px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 66px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 20px;
    margin-left: 33px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 151px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-9 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -26px;
  }

  .u-section-9 .u-text-6 {
    margin-top: -242px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }
} .u-section-10 {
  min-height: 318px;
}

.u-section-10 .u-sheet-1 {
  min-height: 654px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-10 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 380px;
  height: 380px;
  margin: 121px -28px 0 auto;
}

.u-section-10 .u-image-2 {
  width: 239px;
  height: 399px;
  margin: -380px auto 0 14px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-10 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 66px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    margin-top: -340px;
  }
} .u-section-11 {
  min-height: 318px;
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 654px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-11 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-image-1 {
  width: 466px;
  height: 233px;
  margin: 64px auto 0;
}

.u-section-11 .u-image-2 {
  width: 411px;
  height: 256px;
  margin: 20px 64px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-11 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 644px;
  }

  .u-section-11 .u-image-2 {
    height: 255px;
    margin-top: 0;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 66px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-11 .u-image-1 {
    width: 360px;
    height: 180px;
  }

  .u-section-11 .u-image-2 {
    width: 360px;
    height: 223px;
    margin-top: 53px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 740px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 170px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 211px;
  }
} .u-section-12 {
  min-height: 318px;
}

.u-section-12 .u-sheet-1 {
  min-height: 654px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-12 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-12 .u-container-layout-2 {
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 530px;
  height: 541px;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-12 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }

  .u-section-12 .u-image-1 {
    width: 470px;
    height: 480px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 66px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-12 .u-image-1 {
    width: 360px;
    height: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 348px;
  }
} .u-section-13 {
  min-height: 318px;
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 654px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-13 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-13 .u-container-layout-2 {
  padding: 0;
}

.u-section-13 .u-image-1 {
  width: 550px;
  height: 602px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-13 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 539px;
  }

  .u-section-13 .u-image-1 {
    width: 470px;
    height: 515px;
  }
}

@media (max-width: 991px) {
   .u-section-13 {
    min-height: 66px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-13 .u-image-1 {
    width: 360px;
    height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 372px;
  }
} .u-section-14 {
  min-height: 318px;
}

.u-section-14 .u-sheet-1 {
  min-height: 654px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-14 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-14 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 665px;
}

.u-section-14 .u-container-layout-2 {
  padding: 0;
}

.u-section-14 .u-image-1 {
  width: 368px;
  height: 368px;
  margin: 0 auto;
}

.u-section-14 .u-image-2 {
  width: 500px;
  height: 247px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: 162px;
  }

  .u-section-14 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 548px;
  }

  .u-section-14 .u-image-2 {
    width: 470px;
    height: 232px;
  }
}

@media (max-width: 991px) {
   .u-section-14 {
    min-height: 66px;
  }

  .u-section-14 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-14 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-14 .u-image-2 {
    width: 360px;
    height: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 630px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 168px;
  }
} .u-section-15 {
  min-height: 318px;
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 654px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-15 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-15 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 68px 0 0;
}

.u-section-15 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 665px;
}

.u-section-15 .u-container-layout-2 {
  padding: 0;
}

.u-section-15 .u-image-1 {
  width: 530px;
  height: 530px;
  margin: 55px auto 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-15 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 548px;
  }

  .u-section-15 .u-image-1 {
    width: 470px;
    height: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-15 {
    min-height: 66px;
  }

  .u-section-15 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-15 .u-image-1 {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 630px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}